FLASK_APP=run.py
FLASK_DEBUG=1
SECRET_KEY=sua_chave_secreta_aqui
JWT_SECRET=sua_chave_jwt_aqui

# exemplo de conexao para configurar o banco local
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=raizes_nordeste_db